body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    display: flex;
}
h1{
    text-align: justify;
    font-size: 50px;
}
.border{
    padding-left: 30px;
    border-left: 4px solid;
    border-image: linear-gradient(tomato, tomato);
    border-image-slice: 1;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
    
}
#header{
    color: orangered;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(240, 71, 41) , rgb(238, 75, 46));
    padding: 10px 40px ;
    border-radius: 5px;
    font-weight: 700;
}
#header2{
    text-align: center;
    color: rgb(2, 2, 88);
}
span{
    color: orangered;
}

.mission{
    background-color: slategrey ;
    margin-bottom: 6%;
    padding-left: 40px;
    padding-right: 25px;
    border: 20px solid ;
    border-color: white;
    width : 700px;
    border-radius: 47px;
}
.mission img{
    width: 60%;
}
.vission{
    background-color: wheat ;
    margin-bottom: 6%;
    padding-left: 40px;
    padding-right: 25px;
    border: 20px solid ;
    border-color: white;
    border-radius: 47px;
   
}
.vission img{
    width: 50%;
}
.goal{
    background-color: salmon;
    border-radius: 47px;
    margin-bottom: 6%;
    padding-left: 40px;
    padding-right: 25px;
    border: 20px solid ;
    border-color: white;
    width: 700px;
}
.goal img{
    width: 50%;
}
.design{
    width: 90%;
    margin:0% 3%;
}
.project{
    margin-right: 10%;
    margin-left: 6%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
}
.font{
    font-family: 'Bree Serif', serif;
    line-height: 25px;
}
.side{
    width: 80%;
}
.side img{
    width:60%;
}
footer{
    font-family: 'Tangerine', cursive;
    text-align: center;
    color: white;
    background-color: rgb(17, 17, 22);
    background-size: 150px;
    
}
#clr{
    color: rgb(245, 55, 55);
}
.cap{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    line-height: 10px;
}
#six{
    text-align: center;
}
.cap p{
    font-size: 30px;
}
.my-portfolio{
    margin-top: 40px;
    background-image: url(images/wallpaper2you_190070.jpg);
    background-size: contain;
}
.portfolio-pic{
    margin-top: 80px;
    margin-left: 200px;
    padding-left: 180px;

}
.intro{
    color: white;
    margin-left: 100px;
    line-height: 25px;
    padding-top: 60px;
}
#nm{
    color: red;
}
.intro h1{
    font-size: 50px;
}
.contact{
    text-decoration: none;
    color: white;
    padding: 5px 20px ;
    background-image: none;
    border-radius: 5px;
    border: 3px solid ;
    border-color: tomato;
    font-weight: 200px;
    
}
.intro h3{
    font-size: 15px;
    padding-left: 80px;
    line-height: 10px;
    padding-bottom: 40px;
}
.code{
    margin-right: 10%;
    margin-left: 6%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px;
}
.side2 img{
    width: 80%;
    padding-left: 33px;
    padding-bottom: 40px;
}
